[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-mail = "*"
"jinja2" = "*"
markupsafe = "*"
werkzeug = "*"
amqp = "*"
anyjson = "*"
apiclient = "*"
argparse = "*"
billiard = "*"
blinker = "*"
celery = "*"
certifi = "*"
cffi = "*"
cryptography = "*"
flower = "*"
gunicorn = "*"
"httplib2" = "*"
itsdangerous = "*"
kombu = "*"
"oauth2client" = "*"
pika = "*"
"psycopg2" = "*"
pycparser = "*"
pytz = "*"
tornado = "*"
twilio = "==5.6"
"urllib3" = "*"
virtualenv = "*"
sendgrid = "*"
redis = "*"
rq = "*"


[dev-packages]

pytest = "*"


[requires]

python_version = "3.6"
